@using Mvc_ile_cv.Models.Entity
@model List<TBL_Yeteneklerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    string renk = "";
}
@{
    string labelRenk = "";
}
<div class="wrapper">
    <section class="content mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Yetenek Listem</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <a href="/Yetenek/YeniYetenek/" class="btn btn-info mb-2">Yeni Yetenek Ekle</a>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Yetenek</th>
                                        <th>Derece</th>
                                        <th style="width: 40px">Oran</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if (item.Oran >= 0 && item.Oran <= 50)
                                        {
                                            renk = "progress-bar bg-danger";
                                            labelRenk = "badge bg-danger";

                                        }
                                        else if (item.Oran >= 51 && item.Oran <= 70)
                                        {
                                            renk = "progress-bar bg-warning";
                                            labelRenk = "badge bg-warning";
                                        }
                                        else if (item.Oran >= 71 && item.Oran <= 84)
                                        {
                                            renk = "progress-bar bg-primary";
                                            labelRenk = "badge bg-primary";
                                        }
                                        else if (item.Oran >= 85 && item.Oran <= 100)
                                        {
                                            renk = "progress-bar bg-success";
                                            labelRenk = "badge bg-success";
                                        }
                                        <tr>
                                            <td>@item.ID</td>
                                            <td>@item.Yetenek</td>

                                            <td>
                                                <div class="progress progress-xs">
                                                    <div class="@renk" style="width: @item.Oran%"></div>
                                                </div>
                                            </td>
                                            <td><span class="@labelRenk">@item.Oran%</span></td>
                                            <td>
                                                <a href="/Yetenek/YetenekSil/@item.ID" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                    Sil
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/Yetenek/YetenekGuncelle/@item.ID" class="btn btn-info btn-sm">
                                                    <i class="fas fa-pencil-alt"></i>
                                                    Güncelle
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>